<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <p>Recipe Count: <%= Recipe.count %></p>
    </div>
    <div class="col-6">
      <% if current_user %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <div class=" btn float-end" >Log out</div>
            <% end %>
        <% else %>
        <%= link_to new_user_registration_path, class: "navbar-btn btn btn-success d-flex justify-content-between align-items-center" do %>
          <p class="letter-spacing mb-0">Sign up</p>
    <% end %>
  <% end %>
    </div>
  </div>

  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="recipe-card">
          <div class="recipe-card-content">
            <div class="recipe-card-title">
              <h4><%= link_to recipe.title, recipe_path(recipe) %></h4>
            </div>
            <p><%= recipe.rating %> <i class="fa fa-star" aria-hidden="true"></i></p>
          </div>
          <div class="recipe-card-actions">
            <%= link_to 'Edit', edit_recipe_path(recipe), class: 'ms-3 text-warning' %>
            <%= link_to recipe_path(recipe), method: :delete, data: { confirm: "Delete #{recipe.title}?" } do %>
              <i class="fa fa-trash-o float-end" aria-hidden="true"></i>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class='container'>
  <div class="col-sm">
    <button type="button" class="btn btn-primary btn-lg"><%= link_to 'Add a new recipe :)', new_recipe_path %></button>
  </div>
</div>
