<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@600&display=swap" rel="stylesheet">
</head>
<div class="container">

  <div class="container mt-5">
    <div class="row" id='nav-row'>
      <div class="col-3">
        <p class="title-n"><%= link_to 'Random Recipe', recipe_path(@recipes.sample), class: 'nav-title' %></p>
      </div>
        <div class='col-6' id='title'>
          <h2><%= link_to "Abb and Dan's Recipes", recipes_path %> </h2>
        </div>
        <div class="col-3">
            <% if current_user %>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <div class=" btn float-end" >Log out</div>
                  <% end %>
              <% else %>
              <%= link_to new_user_registration_path, class: "navbar-btn btn btn-success d-flex justify-content-between align-items-center" do %>
                <p class="letter-spacing mb-0">Sign up</p>
            <% end %>
          <% end %>
          </div>
      </div>
    </div>
  </div>


  <div class='container mt-3'>
    <div class='row mt-5 mb-5' id='search-row'>
      <div class='search'><%= form_tag recipes_path, method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a recipe"
          %>
        </div>
          <%= submit_tag "Search", class: "btn search-btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <%# <div class="container mt-3">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <%# <div class="col-md-4">
          <div class="recipe-card">
            <div class="recipe-card-content">
              <div class="recipe-card-title">
                <h4><%= link_to recipe.title, recipe_path(recipe) %></h4>
              <%# </div>
              <div class="recipe-card-desc">
                <p class="text-muted" id='recipe-cat'><i class="fa fa-cutlery mr-1" aria-hidden="true">  <%=recipe.category%></i></p>
              <%# </div>
            </div>
            <div class="recipe-card-actions">
              <%= link_to 'Edit', edit_recipe_path(recipe), class: 'btn' %>
              <%# <%= link_to recipe_path(recipe), method: :delete, class: 'delete-btn', data: { confirm: "Delete #{recipe.title}?" } do %>
                <%# <i class="fa fa-trash-o float-end" aria-hidden="true"></i>
              <% end %>
<%#
            </div>
          </div>
        </div>
      <% end %>
    <%# </div>
  </div> %>

    <div class='container d-flex flex-column '>
      <div class="row row-cols-1 row-cols-lg-3 justify-content-center">
        <% @recipes.each do |recipe| %>
          <div class="col mb-5" style="padding: 0 20px; height: 250px;">
            <div class="card h-100" style="box-shadow: 0 0 15px rgba(0,0,0,0.2);">
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title"><%= recipe.title %></h5>
                <div class="card-footer text-muted flex-grow-1 mb-3 d-flex flex-column justify-content-between">
                  <p><i class="fa fa-cutlery mr-2" style="color:#FB743C;"></i> <%= recipe.category %></p>
                </div>
                <%= link_to "Check it out", recipe_path(recipe), class: "btn text-center btn-block"%>   </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>


  <div class='container'>
    <div class="col-sm">
      <%= link_to 'Add a new recipe :)', new_recipe_path, class: "btn btn-lg"%>
    </div>
  </div>
</div>
