<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@600&display=swap" rel="stylesheet">
</head>

<div class="container">
<div class="container mt-5">
  <div class="row" id='nav-row'>
      <div class="col-3">
        <p class="title-n"><%= link_to 'Back', recipes_path, class: 'nav-title' %></p>
      </div>
      <div class='col-6' id='title'>
        <h2><%= link_to "Abb and Dan's Recipes", recipes_path %> </h2>
      </div>
      <div class="col-3">
          <% if current_user %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <div class=" btn float-end" >Log out</div>
                <% end %>
            <% else %>
            <%= link_to new_user_registration_path, class: "navbar-btn btn btn-success d-flex justify-content-between align-items-center" do %>
              <p class="letter-spacing mb-0">Sign up</p>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
</div>

  <div class="container my-5">
    <div class="row justify-content-md-center">
      <div class='col-show' style= 'background: white; box-shadow: 0 0 15px rgba(255,106,106,0.1); border-radius: 5px; padding: 25px;'>
        <h3 class='edit-title'>~ <%=@recipe.title%> ~</h3>
        <hr>
        <p class='show-desc'><%= @recipe.description %></p>
        <p class='show-desc'>Ingredients: <%= @recipe.ingredients %></p>

        <%= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn' %>
        <%= link_to '<i class="fa fa-trash float-end"></i>'.html_safe,
          recipe_path(@recipe),
          method: :delete,
          data: { confirm: "Delete this recipe?" } %>
      </div>
    </div>

  </div>
